@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
}
/* body{
    display: flex;
  flex-direction: column;
  min-height: 100%;
} */
.base-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 20px;
    /* flex: 1 0 auto; */
}

.person {
    display: flex;
}

.person .add_patient {
    position: relative;
    right: 38rem;
    top: 5px;

}

img.rounded {
    width: 100px;
}
.patient-form{
    flex: 1 0 auto;
}
.patient-form .col {
    padding-top: 5px;
}

input,
form,
textarea {
    display: block;
    width: 100%;
}

textarea {
    margin: 10px 10px;

}

textarea::placeholder {

    font-size: 18px;
    padding: 10px 0 10px;
}

form.col.btn {
    margin-bottom: 10px;
}

.add-btn .form-group {
    display: flex;
}

.form-group .btn-add-btn {
    position: absolute;
    left: 28vh;
    margin: 0 0 0 2px;
}

.form-group .label-col {
    position: relative;
    left: 7vh;

}

div.row {
    display: flex;
}

div.row .col-btn {
    position: absolute;
}

div.row .col-input {
    position: relative;
    left: 8vh;
    width: 93.8%;
}

div.add-btn {
    margin: 10px;
}
.footer-dark{
    flex-shrink: 0;
}
@media only screen and (max-width: 1500px) {
    .container{
        margin-bottom:10rem;
    }
    .person .add_patient {
        position: relative;
        right: 38rem;
        top: 5px;
    
    }
    .patient-form .col {
        padding-top: 5px;
    }
    .form-group .btn-add-btn {
        position: absolute;
        left: 55vh;
        margin: 0 0 0 1px;
    }
    

    div.row .col-btn {
        position: absolute;
    }

    div.row .col-input {
        position: relative;
        left: 15vh;
        width: 85%;
    }

    
    .patient-his {
        
        position: relative;
        height: 600px;
        width: 100%;
        /* width: 377px;
        overflow: auto;
        border:1px solid var(--cgrey-400) */
        overflow-y: scroll
    }

    .item-description {
         position: relative;
         width: 70%; 
         
         /* bottom: 500px;
        left: 15rem;  */
    }
    .item-description > div{
        display: inline-block;
    }
    .pharmacist-user{
        display: flex;
        position: absolute;
        left:5px;
        bottom:4rem;
    }
    .pharmacist-user span{
        font-size: 0.75rem;
        margin-top: 2rem;
        position: relative;
        left: 3rem;
        top: 7.5rem;
    }
    .history_ill{
        position: absolute;
        left:0.5rem;
        top:4rem;
        width: 45%;
    }
    .footer-dark {
        /* position: relative; */
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 1400px) {
    .container{
        margin-bottom:10rem;
    }
    .person .add_patient {
        position: relative;
        right: 38rem;
        top: 5px;
    
    }
    .patient-form .col {
        padding-top: 5px;
    }
    .form-group .btn-add-btn {
        position: absolute;
        left: 40vh;
        margin: 0 0 0 1px;
    }
    

    div.row .col-btn {
        position: absolute;
    }

    div.row .col-input {
        position: relative;
        left: 15vh;
        width: 85%;
    }

    
    .patient-his {
        
        position: relative;
        height: 600px;
        width: 100%;
        /* width: 377px;
        overflow: auto;
        border:1px solid var(--cgrey-400) */
        overflow-y: scroll
    }

    .item-description {
         position: relative;
         width: 70%; 
         
         /* bottom: 500px;
        left: 15rem;  */
    }
    .item-description > div{
        display: inline-block;
    }
    .pharmacist-user{
        display: flex;
        position: absolute;
        left:5px;
        bottom:4rem;
    }
    .pharmacist-user span{
        font-size: 0.75rem;
        margin-top: 2rem;
        position: relative;
        left: 3rem;
        top: 7.5rem;
    }
    .history_ill{
        position: absolute;
        left:0.5rem;
        top:4rem;
        width: 45%;
    }
    .footer-dark {
        /* position: relative; */
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 1300px) {
    .container{
        margin-bottom:10rem;
    }
    .person .add_patient {
        position: absolute;
        left: 10rem;
        top: 6.5rem;
        margin-top:5px;
    
    }
    .patient-form .col {
        padding-top: 5px;
    }
    .form-group .btn-add-btn {
        position: absolute;
        left: 20vh;
        margin: 0 0 0 1px;
    }
    

    div.row .col-btn {
        position: absolute;
        left:17vh;
    }

    div.row .col-input {
        position: relative;
        left: 18vh;
        width: 85%;
    }

    
    .patient-his {
        
        position: relative;
        height: 600px;
        width: 100%;
        /* width: 377px;
        overflow: auto;
        border:1px solid var(--cgrey-400) */
        overflow-y: scroll
    }

    .item-description {
         position: relative;
         width: 70%; 
         
         /* bottom: 500px;
        left: 15rem;  */
    }
    .item-description > div{
        display: inline-block;
    }
    .pharmacist-user{
        display: flex;
        position: absolute;
        left:5px;
        bottom:4rem;
    }
    .pharmacist-user span{
        font-size: 0.75rem;
        margin-top: 2rem;
        position: relative;
        left: 3rem;
        top: 7.5rem;
    }
    .history_ill{
        position: absolute;
        left:0.5rem;
        top:4rem;
        width: 45%;
    }
    .footer-dark {
        /* position: relative; */
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 1100px) {
    .container{
        margin-bottom:10rem;
    }
    .person .add_patient {
        position: relative;
        right: 30rem;
        top: 5px;
    
    }
    .patient-form .col {
        padding-top: 5px;
    }
    .form-group .btn-add-btn {
        position: absolute;
        left: 17vh;
        margin: 0 0 0 1px;
    }
    

    div.row .col-btn {
        position: absolute;
    }

    div.row .col-input {
        position: relative;
        left: 8vh;
        width: 85%;
    }

    
    .patient-his {
        
        position: relative;
        height: 600px;
        width: 100%;
        /* width: 377px;
        overflow: auto;
        border:1px solid var(--cgrey-400) */
        overflow-y: scroll
    }

    .item-description {
         position: relative;
         width: 70%; 
         
         /* bottom: 500px;
        left: 15rem;  */
    }
    .item-description > div{
        display: inline-block;
    }
    .pharmacist-user{
        display: flex;
        position: absolute;
        left:5px;
        bottom:4rem;
    }
    .pharmacist-user span{
        font-size: 0.75rem;
        margin-top: 2rem;
        position: relative;
        left: 3rem;
        top: 7.5rem;
    }
    .history_ill{
        position: absolute;
        left:0.5rem;
        top:4rem;
        width: 45%;
    }
    .footer-dark {
        /* position: relative; */
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        margin-bottom:10rem;
    }
    
    .patient-form .col {
        padding-top: 5px;
    }

    .form-group .btn-add-btn {
        position: absolute;
        left: 4vh;
    }

    div.row .col-btn {
        position: absolute;
    }

    div.row .col-input {
        position: relative;
        left: 8vh;
        width: 85%;
    }

    
    .patient-his {
        
        position: relative;
        height: 600px;
        width: 100%;
        /* width: 377px;
        overflow: auto;
        border:1px solid var(--cgrey-400) */
        overflow-y: scroll
    }

    .item-description {
         position: relative;
         width: 70%; 
         
         /* bottom: 500px;
        left: 15rem;  */
    }
    .item-description > div{
        display: inline-block;
    }
    .pharmacist-user{
        display: flex;
        position: absolute;
        left:5px;
        bottom:4rem;
    }
    .pharmacist-user span{
        font-size: 0.75rem;
        margin-top: 2rem;
        position: relative;
        left: 3rem;
        top: 7.5rem;
    }
    .history_ill{
        position: absolute;
        left:0.5rem;
        top:4rem;
        width: 45%;
    }
    .footer-dark {
        /* position: relative; */
        flex-shrink: 0;
    }
}