<!-- Modal -->
<div class="modal fade" id="addPatient" tabindex="-1" aria-labelledby="addPatientLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPatientLabel">Add Patient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('addpatient')}}" method="post">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}"  >
            <div class="container">
              
              <div class="add_nation_id">
                <label for="add_nation_id">Nation Id</label>
                <input type="text" class="add_nation_id" name="add_nation_id" id="add_nation_id">
              </div>
              
              <div class="patient-fname">
                <label for="add_first_name">First Name</label>
                <input type="text" class="form-control" name="add_first_name" id="add_first_name">
              </div>
             
              <div class="patient-lname">
                <label for="add_last_name">Last Name</label>
                <input type="text" class="form-control" name="add_last_name" id="add_last_name">
              </div>
              
              <div class="add_telephone">
                <label for="add_telephone">Phone Number</label>
                <input type="text" class="form-control" name="add_telephone" id="add_telephone">
              </div>


            </div>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>