{% extends 'base.html' %}
 {% block link%}


 {% endblock link%}
{% block content %}
<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Stream</th>
                <th>Section</th>
                <th>Roll_No</th>
                <th>College</th>
                <th>Favourite Sub</th>
                <th>Classes</th>
                <th>Admission Via</th>
                <th>Registration_Id</th>
                <th>State</th>
                 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fourth Year</td>
                <td>Computer Science Engineering</td>
                <td>CSE A</td>
                <td>1445698658</td>
                <td>Geeksforgeeks Education Institute</td>
                <td>Automata</td>
                <td>Morning Class</td>
                <td>Entrance Exam</td>
                <td>CSE-1445698658</td>
                <td>Utter pradesh</td>
            </tr>
        </tbody>
    </table>
</div>

<br><br>
<p class="text-center">This table is always responsive</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Stream</th>
                <th>Section</th>
                <th>Roll_No</th>
                <th>College</th>
                <th>Favourite Sub</th>
                <th>Classes</th>
                <th>Admission Via</th>
                <th>Registration_Id</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fourt Year</td>
                <td>Computer Science Engineering</td>
                <td>CSE A</td>
                <td>1445698658</td>
                <td>Geeksforgeeks Education Institute</td>
                <td>Automata</td>
                <td>Morning Class</td>
                <td>Entrance Exam</td>
                <td>CSE-1445698658</td>
                <td>Utter pradesh</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

{% endblock %}