{% extends 'base.html' %}
{% block link%}


{% endblock link%}
{% block content %}
<div class="container">
    <div class="table-responsive-sm" style="margin:10px;">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Nation Id</th>
                    <th>Phone Number</th>
                    <th>Create Date</th>
                    <th>Allergy</th>
                    <th>Medication</th>
                    <th>Chief Complain</th>
                    <th>Present Illness</th>
                    <th>Pharmacist Name</th>

                </tr>
            </thead>
            <tbody>
                {% for patient in pts %}
                <tr>
                    <td>{{patient.firstname}}</td>
                    <td>{{patient.lastname}}</td>
                    <td>{{patient.nation_id}}</td>
                    <td>{{patient.phone_no}}</td>
                    <td>{{patient.create_time.strftime("%d-%m-%Y")}}</td>
                    <td>Allergy</th>
                    <td>Medication</td>
                    <td>Chief Complain</td>
                    <td>Present Illness</td>
                    <td>Pharmacist Name</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}