<div data-spy="scroll" class="item-description" data-offset="0">
    <div class="pharmacist-user">
        <div class="avatar-img">
            <i class="avatar small">
                <img src="https://dden.app/static/user_img/pharmbook.png" 
                alt="" srcset="">
            </i>
        </div>
        <span class="span-pharmacist-name"><a href="#">Yoan Almedia</a> commented on <time datetime="20-01-2021">Jan 20, 2021</time></span>
    </div>
    <div class=" history_ill">
        <div class="chief_complain">
            <div class="card-header">
                <h5>Chief Complain</h5>
            </div>
            <p>ผู้ป่วยมาร้านยาด้วยอาการปวดหัวซีกเดียว</p>
        </div>
        <div class=" history_of_present_illness">
            <div class="card-header">
                
                    <h5>History of present illness</h5>
                
                <a class="btn" data-bs-toggle="collapse" data-bs-target="#collapseIllness" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </a>
            </div>
            <div class="collapse" id="collapseIllness">

            
                <p>ผู้ป่วยมีอาการปวดหัวมาเป็นระยะเวลา 2วัน</p>
                <p>นอนไม่ค่อยหลับ</p>
                <p>กินยา paracetamol q 4hr ไม่ดีขึ้น กินไป2 เม็ด</p>
            </div>
        </div>
    </div>
</div>




